body{
  margin:0px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  min-width: 800px;
}

.header {
    height:100px; 
    width:100%;
    background-image: url('/media/header.png');
    background-repeat: no-repeat;
    background-color: #0000ff;
    border-radius: 0em 0em 10px 10px;
    -webkit-box-shadow: #000000 0px 0px 15px;
    box-shadow: #000000 0px 0px 15px;
}

.menu {
    position:relative; 
    margin:0px;
    float:right;
    top:0px;
    font-size:1.4em;
    font-family:"Trebuchet MS",sans-serif; 
    white-space:nowrap;
    height: 100px;
}

.menu_item {
    display:block;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-top:70px;
    color: white;
    cursor: hand;
    text-shadow: black 1px 1px 2px;
    text-decoration: none;
    height: 30px;
}

.menu_item:hover {
    color:white; 
    background:  url(/media/buttons.png) 
    no-repeat 0 center; 
}

.right_panel {
  float: right;
  background-color: #EEEEEE;
  width:25%;
  border-radius: 10px;
  position: relative;
  right: 5px;
  top: 20px;
  -webkit-box-shadow: #000000 0px 0px 15px;
  box-shadow: #000000 0px 0px 15px;
}
.left_panel {
  float: left;
  background-color: #C6D880;
  width:73%;
  border-radius: 10px;
  position: relative;
  left: 5px;
  top:20px;
  -webkit-box-shadow: #000000 0px 0px 15px;
  box-shadow: #000000 0px 0px 15px;
}

#comment_proj {
    border:none;
    text-decoration:none;
    font-size:0.8em;
    font-style: italic;
    position: inherit;
    left: 15px;
}
    
#id_username{
    width: 95%;
}

#id_password{
    width: 95%;
}

.moder {
  float:right;
}

.comment_title {
  float:left;
}

.comment {
  background-color: #C6D8FF;
  border-radius: 10px;
  padding: 5px;
  margin-top:5px;
}

.content {
  margin: 10px 10px 10px 10px;
}
