{% extends "index.html" %}

{% block left_panel %}
{% if error %}
  <div class="error">{{ error }}</div>
{% endif %}
  <form action="." method="post">{% csrf_token %}
    <table>
      {{ form }}
    </table>
    <button type="submit" class="button positive">
      <img src="/media/css/blueprint/plugins/buttons/icons/tick.png" alt=""/> Submit
    </button>
  </form>
{% endblock %}

{% block right_panel %}
{% for i in a_projects %}
    <a href="{% url project_main i.id %}">{{ i.name }}</a><br>
{% endfor %}
<a href="{% url create_project %}">Create new project</a><br>
<a href="{% url inbox %}">Inbox({{ num_messages }})</a><br>
<a href="{% url outbox %}">Outbox</a>
{% endblock %}
