<html>
  <head>
    <title>{%block title%}Full Fish{% endblock %}</title>
    {% block blueprint %}

    {% endblock blueprint %}
    {% block dojo %}
      <script src="/media/js/dojo.js" type="text/javascript"></script>
    {% endblock dojo %}
    {% block script %}{% endblock %}
    {% block style %}
      <link rel="stylesheet" href="/media/css/base.css" type="text/css">
      <link rel="stylesheet" href="/media/css/buttons.css" type="text/css">
    {% endblock %}
  </head>
  <body>
    {% block header %}
        <div class="header">
          <div class="fish">
           <a href="/">
             <img class="fish_img" src="/media/fish_s.png">
           </a> 
           </div>
           <div class="text">
             <a href="/">
             <img class="title" src="/media/title.png">
             </a>
             </div>
          <div class="menu"> 
            <a href="{% if project_id %}{% url project_main project.id %}{% else %}{% url project_main 1 %}{% endif %}" class="menu_item">Home</a> 
            <a href="{% if project_id %}{% url tickets project.id %}{% else %}{% url tickets 1 %}{% endif %}" class="menu_item">Tickets</a>
            <a href="{% if project_id %}{% url wiki project.id %}{% else %}{% url wiki 1 %}{% endif %}" class="menu_item">Wiki</a>
            <a href="/" class="menu_item">Downloads</a>
            <a href="/" class="menu_item">Community</a>
<!--            <a href="/" class="menu_item" style="border-radius: 0em 0em 10px 0em;">About</a></!-->
        </div>
      </div>
    {% endblock header %}
    <div class="left_panel">
      <div class="content">
      {% block left_panel %}
      {% endblock %}
      </div>
    </div>
    <div class="right_panel">
      <div class="content">
      {% block right_panel %}
      {% endblock %}
      </div>
    </div>
  </body>
</html>
