{% extends "index.html" %}
{% block left_panel %}
<div class="news_title"><a href="{% url detail_news project_id news.id %}">{{ news.title }}</a></div>
{% if is_moder or is_author %}
<div class="moder">
  <a href="{% url edit_news project_id news.id %}" class="small button yellow">Edit news</a>
  <a href="{% url delete_news project_id news.id %}" class="small button red">Delete news</a>
</div>
{% endif %}
<div class="news_text">{{ news.text }}</div>
<div class="news_footer">{{ news.date }} {{ news.user.username }}</div>
{% endblock %}
