{% extends "base.html" %}

{% block left_panel %}
  {% for i in News %}
      <a href="{% if project.id != 1 %}/project/{{ project.id }}/{% endif %}news/{{ i.id }}/">{{ i.title }}</a>
      <div>{{ i.text|truncatewords:10 }}</div>
      <div>{{ i.date }} <a href="users/{{ i.user.id }}">{{ i.user.username }}</a></div>
  {% empty %}
      <div>No news here...</div>
  {% endfor %}
  {% if is_moder %}<a href="/project/{{ project.id }}/news/add">Add news...</a>{% endif%}
{% endblock %}

{% block right_panel %}
{% if user.is_authenticated %}
    Hello, <a href='/account/'>{{ user.username }}</a>. You mail (0)<br>
    <a href="/account/logout/">Logout</a><hr>
{% else %}
    <a href="/account/login/">Login</a> or <a href="/account/register/">Register</a> <hr>
{% endif %}
{% if project %}
  Curent project:<br>
  <a href="{% if project.id != 1 %}/project/{{ project.id }}{% endif %}/">{{ project.name }}</a>
  <a href="/project/{{ project.id }}/edit/" class="small button yellow">edit</a><br>
  <div id="comment_proj">{{ project.description }}</div><br>
  {% for i in project.tags.all %}
    <div id="tag"><a href="/tag/{{ i.text }}/">{{ i.text }}</a></div>
  {% empty %}
    <div><a href="/project/{{ project.id }}/edit/">Add tags to project</a></div>
  {% endfor %}
  <hr>
{% endif %}
{% endblock %}
