{% extends "base.html" %}

{% block left_panel %}
  {% for i in News %}
  <div class="news">
      <a href="{% url detail_news project_id i.id %}">{{ i.title }}</a>
      <div>{{ i.text|truncatewords:10 }}</div>
      <div>{{ i.date }} {{ i.user.username }}</div>
  </div>
  {% empty %}
      <div>No news here...</div>
  {% endfor %}
  {% if is_moder %}<a href="{% url add_news project_id %}">Add news...</a>{% endif%}
{% endblock %}

{% block right_panel %}
{% if user.is_authenticated %}
    Hello, <a href='{% url account %}'>{{ user.username }}</a> {% if user.get_profile.num_new_messages %}(<a href="{% url inbox %}">{{ user.get_profile.num_new_messages }} new notification</a>){% endif %}<br>
    <a href="{% url logout %}">Logout</a><hr>
{% else %}
    <a href="{% url login %}">Login</a> or <a href="{% url register %}">Register</a> <hr>
{% endif %}
{% if project %}
  Current project:<br>
  <a href="{% url project_main project.id %}">{{ project.name }}</a>
  <a href="{% url edit_project project.id %}" class="small button yellow">edit</a><br>
  <div id="comment_proj">{{ project.description }}</div><br>
  {% for i in project.tags.all %}
    <div id="tag"><a href="{% url by_tag i.text%}">{{ i.text }}</a></div>
  {% empty %}
    <div><a href="{% url edit_project project.id %}">Add tags to project</a></div>
  {% endfor %}
  <hr>
{% endif %}
{% endblock %}
