{% extends 'index.html' %}

{% block left_panel %}
<p><h1>So about... =)</h1></p>
<div> Our project is attractive by its functionality and easy-to-use. 
  You can create your own project by yourself or with the group of creators.
  Be in touch with your group by using chat or forum, add news, bugs, wiki,
   comments to message, files or links to your project.</div>
<p><h1>Our team!</h1></p>
<div class="team">
        <div class="abouttext" >
            <p>
               <img src="/media/7.png" align="left">
                  What means about a design, she know better then others how to make the web-page be amazing. 
                  That's why the admin of this project is very dissapointed about all her new ideas.
            </p>
            <br clear="all">
            <p>
              <img src="/media/1.png" align="left">
               He is a manager of our project. He just do different stuffs that help us do something. It's really hard to understand.
            </p>
            <br clear="all">
            <p>
              <img src="/media/6.png">
              She is a full of ideas, may be sometimes unreal, but... She know how to make others doing something.
            </p>
            <br clear="all">
            <p>  
              <img src="/media/5.png">
              He little bit mad, but it connect with work he doing. He just a great programmer (as he say). But our teachers don't believe in this.
            </p>
            <br clear="all">
            <p>
              <img src="/media/2.png">Well.... He did nothing for our project =) 
            </p>
            <br clear="all">
            <p>
              <a><img src="/media/3.png"></a>
              Це наша акула проекту. Він суворо відноситься до роботи і з'їдає всі погані ідеї =) 
              А іще він не любить москалів і чистий патріот української мови. Спешіал фо ю, Мік, на українській мові =)
            </p>
         </div>
</div>
{% endblock %}

